@media (max-width: 375px) {
    #rceKc65cg8xi8yHp{
        margin-bottom: -70%;
    }
    #xaT6kYYjcP77e0IV{
        margin-top: -55%;
        margin-bottom: 55%;        
        bottom: 5%;
    }
    #xNTZHBdHO6veCroM{
        margin-top: -66%;
    }

    #gGWIHtnCv1PgEEI1{
        margin-top: -50%;
        margin-bottom: 50%;   
        top: 20%;
    }
    #s3opA9SrgN6U67nS{
        top: -76.5%;
    }
    #xaT6kYYjcP77e0IV,#gGWIHtnCv1PgEEI1{
        scale: 1.163;
    }
    #tUowYmDnltFTfHpo,#DEb6X5S2JesNDrJ2{
        width: 150%;
        height: 150%;
        right: 25.4%;
        bottom: 25%;
        transform: scale(0.9,0.9);

    }
    #Y1GmyDX2kBurOyXs {
        grid-area: 2 / 2 / 3 / 3;
    }

    #dAJNyKyR4RoPupCJ {
        grid-template-columns: 0 364.26666667%;
        left: -132.13333333%;
        grid-template-rows: 0 100%;
    }

    #b6hfl2MFH1zRd9V7 {
        display: none;
    }

    #sdqhBpnTwbC6IoSt {
        display: none;
    }

    #uHRxmI7Mof0u44Yd {
        display: none;
    }

    #QKRqhLsxmxLwz0v0 {
        display: none;
    }

    #OYcrjmXoymmcfYWZ {
        display: block;
    }

    #PZehVMTfoViOAUP5 {
        grid-area: 2 / 2 / 11 / 11;
    }

    #GRiHeVyrmsgczdDg {
        stroke-width: calc(100rem * 4.0311127987105255 / 375.0);
    }

    #tqSW5QWKpjGLcF6q {
        display: none;
    }

    #A3JSM08jSbs188nT {
        stroke-width: calc(100rem * 4.0311127987105255 / 375.0);
    }

    #YP4cv1uKHS4pNH4m {
        display: none;
    }

    #j1YlxpWMyz3st5wt {
        stroke-width: calc(100rem * 4.0311127987105255 / 375.0);
    }

    #I6Yzwo1VlKUndaZ1 {
        display: block;
    }

    #xaT6kYYjcP77e0IV {
        grid-area: 3 / 3 / 6 / 9;
    }

    #xNTZHBdHO6veCroM {
        grid-area: 4 / 5 / 5 / 7;
    }

    #OLpJpneazSO7ZQr8 {
        stroke-width: calc(100rem * 4.043491947658597 / 375.0);
    }

    #nll3w9OApQWILmhb {
        display: none;
    }

    #hAHrj9Msokf4PNLK {
        stroke-width: calc(100rem * 4.043491947658597 / 375.0);
    }

    #dx5BrLgVBnp9NzR5 {
        display: none;
    }

    #pYwktEwRiLYN0hAR {
        stroke-width: calc(100rem * 4.043491947658597 / 375.0);
    }

    #lsLQbFYYUhqWvAuY {
        display: block;
    }

    #gGWIHtnCv1PgEEI1 {
        grid-area: 7 / 4 / 10 / 10;
    }

    #s3opA9SrgN6U67nS {
        grid-area: 8 / 6 / 9 / 8;
    }

    #rceKc65cg8xi8yHp {
        grid-template-columns: 4.26666667rem 6.4rem 0 6.4rem 0 65.86666664rem 0.00000002rem 6.4rem 0 6.4rem 4.26666667rem;
        grid-template-rows: minmax(48.51522865rem, max-content) minmax(2.26056028rem, max-content) minmax(2.34788976rem, max-content) minmax(37.04999999rem, max-content) minmax(6.4rem, max-content) minmax(6.4rem, max-content) minmax(2.34070169rem, max-content) minmax(37.05rem, max-content) minmax(6.4rem, max-content) minmax(6.4rem, max-content) minmax(48.51522865rem, max-content);
    }

    #h4uRlIlK5lkMiJe8 {
        min-height: 100vh;
    }
}

@media (min-width: 375.05px) and (max-width: 480px) {
    #rceKc65cg8xi8yHp{
        margin-bottom: -25%;
    }
    #xaT6kYYjcP77e0IV{
        margin-top: -25%;
        margin-bottom: 25%;
        bottom: 3%;
    }
    #xNTZHBdHO6veCroM{
        margin-top: -28%;
    }
    #gGWIHtnCv1PgEEI1{
        margin-top: -25%;
        margin-bottom: 25%;
        top: 22%;
    }
    #s3opA9SrgN6U67nS{
        top: -21%;
    }
    #xaT6kYYjcP77e0IV,#gGWIHtnCv1PgEEI1{
        scale: 1.125;
       
    }
    #tUowYmDnltFTfHpo,#DEb6X5S2JesNDrJ2{
        height: 100%;
        width: 100%;
        transform: scale(1.25,1.25);
        
    }
    #Y1GmyDX2kBurOyXs {
        grid-area: 2 / 2 / 3 / 3;
    }

    #dAJNyKyR4RoPupCJ {
        grid-template-columns: 0 284.58333333%;
        left: -92.29166667%;
        grid-template-rows: 0 100%;
    }

    #b6hfl2MFH1zRd9V7 {
        display: none;
    }

    #sdqhBpnTwbC6IoSt {
        display: none;
    }

    #uHRxmI7Mof0u44Yd {
        display: none;
    }

    #QKRqhLsxmxLwz0v0 {
        display: block;
    }

    #OYcrjmXoymmcfYWZ {
        display: none;
    }

    #PZehVMTfoViOAUP5 {
        grid-area: 2 / 2 / 11 / 11;
    }

    #GRiHeVyrmsgczdDg {
        stroke-width: calc(100rem * 5.465915659268509 / 480.0);
    }

    #tqSW5QWKpjGLcF6q {
        display: none;
    }

    #A3JSM08jSbs188nT {
        stroke-width: calc(100rem * 5.465915659268509 / 480.0);
    }

    #YP4cv1uKHS4pNH4m {
        display: block;
    }

    #j1YlxpWMyz3st5wt {
        stroke-width: calc(100rem * 5.465915659268509 / 480.0);
    }

    #I6Yzwo1VlKUndaZ1 {
        display: none;
    }

    #xaT6kYYjcP77e0IV {
        grid-area: 3 / 3 / 6 / 9;
    }

    #xNTZHBdHO6veCroM {
        grid-area: 4 / 5 / 5 / 7;
    }

    #OLpJpneazSO7ZQr8 {
        stroke-width: calc(100rem * 5.482700945977758 / 480.0);
    }

    #nll3w9OApQWILmhb {
        display: none;
    }

    #hAHrj9Msokf4PNLK {
        stroke-width: calc(100rem * 5.482700945977758 / 480.0);
    }

    #dx5BrLgVBnp9NzR5 {
        display: block;
    }

    #pYwktEwRiLYN0hAR {
        stroke-width: calc(100rem * 5.482700945977758 / 480.0);
    }

    #lsLQbFYYUhqWvAuY {
        display: none;
    }

    #gGWIHtnCv1PgEEI1 {
        grid-area: 7 / 4 / 10 / 10;
    }

    #s3opA9SrgN6U67nS {
        grid-area: 8 / 6 / 9 / 8;
    }

    #rceKc65cg8xi8yHp {
        grid-template-columns: 3.33333333rem 5rem 0 5rem 0 73.33333332rem 0 5.00000001rem 0 5rem 3.33333333rem;
        grid-template-rows: minmax(25.59783488rem, max-content) minmax(1.76606272rem, max-content) minmax(1.83428887rem, max-content) minmax(41.24999999rem, max-content) minmax(5rem, max-content) minmax(5rem, max-content) minmax(1.8286732rem, max-content) minmax(41.25rem, max-content) minmax(5rem, max-content) minmax(5rem, max-content) minmax(25.59783488rem, max-content);
    }

    #h4uRlIlK5lkMiJe8 {
        min-height: 100vh;
    }
}

@media (min-width: 480.05px) and (max-width: 768px) {
    #tUowYmDnltFTfHpo,#DEb6X5S2JesNDrJ2{
        height: 100%;
        width: 100%;
    }
    #Y1GmyDX2kBurOyXs {
        grid-area: 2 / 2 / 3 / 3;
    }

    #dAJNyKyR4RoPupCJ {
        grid-template-columns: 0 187.61219633%;
        left: -43.80609816%;
        grid-template-rows: 0 100%;
    }

    #b6hfl2MFH1zRd9V7 {
        display: none;
    }

    #sdqhBpnTwbC6IoSt {
        display: none;
    }

    #uHRxmI7Mof0u44Yd {
        display: block;
    }

    #QKRqhLsxmxLwz0v0 {
        display: none;
    }

    #OYcrjmXoymmcfYWZ {
        display: none;
    }

    #PZehVMTfoViOAUP5 {
        grid-area: 2 / 2 / 11 / 11;
    }

    #GRiHeVyrmsgczdDg {
        stroke-width: calc(100rem * 7.999999999999998 / 768.0);
    }

    #tqSW5QWKpjGLcF6q {
        display: block;
    }

    #A3JSM08jSbs188nT {
        stroke-width: calc(100rem * 7.999999999999998 / 768.0);
    }

    #YP4cv1uKHS4pNH4m {
        display: none;
    }

    #j1YlxpWMyz3st5wt {
        stroke-width: calc(100rem * 7.999999999999998 / 768.0);
    }

    #I6Yzwo1VlKUndaZ1 {
        display: none;
    }

    #xaT6kYYjcP77e0IV {
        grid-area: 3 / 3 / 6 / 10;
    }

    #xNTZHBdHO6veCroM {
        grid-area: 4 / 5 / 5 / 8;
    }

    #OLpJpneazSO7ZQr8 {
        stroke-width: calc(100rem * 8.0 / 768.0);
    }

    #nll3w9OApQWILmhb {
        display: block;
    }

    #hAHrj9Msokf4PNLK {
        stroke-width: calc(100rem * 8.0 / 768.0);
    }

    #dx5BrLgVBnp9NzR5 {
        display: none;
    }

    #pYwktEwRiLYN0hAR {
        stroke-width: calc(100rem * 8.0 / 768.0);
    }

    #lsLQbFYYUhqWvAuY {
        display: none;
    }

    #gGWIHtnCv1PgEEI1 {
        grid-area: 7 / 4 / 10 / 9;
    }

    #s3opA9SrgN6U67nS {
        grid-area: 8 / 6 / 9 / 7;
    }

    #rceKc65cg8xi8yHp {
        grid-template-columns: 4.16666667rem 7.71834102rem 0.11668903rem 1.27217313rem 0.11243703rem 73.17020765rem 0.11226144rem 1.3295273rem 0.11668903rem 7.71834102rem 4.16666667rem;
        grid-template-rows: minmax(4.16666667rem, max-content) minmax(1.1037892rem, max-content) minmax(1.14643055rem, max-content) minmax(41.2846347rem, max-content) minmax(1.202153rem, max-content) minmax(4.16666667rem, max-content) minmax(1.14292075rem, max-content) minmax(41.1582418rem, max-content) minmax(1.19847261rem, max-content) minmax(4.16666667rem, max-content) minmax(4.16666667rem, max-content);
    }

    #h4uRlIlK5lkMiJe8 {
        min-height: 100vh;
    }
}

@media (min-width: 768.05px) and (max-width: 1024px) {
    #tUowYmDnltFTfHpo,#DEb6X5S2JesNDrJ2{
        height: 100%;
        width: 100%;
    }
    #Y1GmyDX2kBurOyXs {
        grid-area: 2 / 2 / 3 / 3;
    }

    #dAJNyKyR4RoPupCJ {
        grid-template-columns: 0 140.70914725%;
        left: -20.35457362%;
        grid-template-rows: 0 100%;
    }

    #b6hfl2MFH1zRd9V7 {
        display: none;
    }

    #sdqhBpnTwbC6IoSt {
        display: block;
    }

    #uHRxmI7Mof0u44Yd {
        display: none;
    }

    #QKRqhLsxmxLwz0v0 {
        display: none;
    }

    #OYcrjmXoymmcfYWZ {
        display: none;
    }

    #PZehVMTfoViOAUP5 {
        grid-area: 2 / 2 / 11 / 11;
    }

    #GRiHeVyrmsgczdDg {
        stroke-width: calc(100rem * 7.999999999999998 / 1024.0);
    }

    #tqSW5QWKpjGLcF6q {
        display: block;
    }

    #A3JSM08jSbs188nT {
        stroke-width: calc(100rem * 7.999999999999998 / 1024.0);
    }

    #YP4cv1uKHS4pNH4m {
        display: none;
    }

    #j1YlxpWMyz3st5wt {
        stroke-width: calc(100rem * 7.999999999999998 / 1024.0);
    }

    #I6Yzwo1VlKUndaZ1 {
        display: none;
    }

    #xaT6kYYjcP77e0IV {
        grid-area: 3 / 3 / 6 / 10;
    }

    #xNTZHBdHO6veCroM {
        grid-area: 4 / 5 / 5 / 8;
    }

    #OLpJpneazSO7ZQr8 {
        stroke-width: calc(100rem * 8.0 / 1024.0);
    }

    #nll3w9OApQWILmhb {
        display: block;
    }

    #hAHrj9Msokf4PNLK {
        stroke-width: calc(100rem * 8.0 / 1024.0);
    }

    #dx5BrLgVBnp9NzR5 {
        display: none;
    }

    #pYwktEwRiLYN0hAR {
        stroke-width: calc(100rem * 8.0 / 1024.0);
    }

    #lsLQbFYYUhqWvAuY {
        display: none;
    }

    #gGWIHtnCv1PgEEI1 {
        grid-area: 7 / 4 / 10 / 9;
    }

    #s3opA9SrgN6U67nS {
        grid-area: 8 / 6 / 9 / 7;
    }

    #rceKc65cg8xi8yHp {
        grid-template-columns: 3.125rem 18.28875577rem 0.08751678rem 0.95412985rem 0.08432777rem 54.87765574rem 0.08419608rem 0.99714548rem 0.08751678rem 18.28875577rem 3.125rem;
        grid-template-rows: minmax(3.125rem, max-content) minmax(0.8278419rem, max-content) minmax(0.85982291rem, max-content) minmax(30.96347602rem, max-content) minmax(0.90161475rem, max-content) minmax(3.125rem, max-content) minmax(0.85719056rem, max-content) minmax(30.86868135rem, max-content) minmax(0.89885446rem, max-content) minmax(3.125rem, max-content) minmax(3.125rem, max-content);
    }

    #h4uRlIlK5lkMiJe8 {
        min-height: 100vh;
    }
}

@media (min-width: 1024.05px) {
    #xaT6kYYjcP77e0IV,#xNTZHBdHO6veCroM{
        left: 1.2%;
    }
    #tUowYmDnltFTfHpo,#DEb6X5S2JesNDrJ2{
        height: 100%;
        width: 100%;
    }
    #rceKc65cg8xi8yHp{
        margin-bottom: -27%;
        
    }
    #Y1GmyDX2kBurOyXs {
        grid-area: 2 / 2 / 3 / 3;
    }

    #dAJNyKyR4RoPupCJ {
        grid-template-columns: 0 100%;
        grid-template-rows: 0 100%;
    }

    #b6hfl2MFH1zRd9V7 {
        display: block;
    }

    #sdqhBpnTwbC6IoSt {
        display: none;
    }

    #uHRxmI7Mof0u44Yd {
        display: none;
    }

    #QKRqhLsxmxLwz0v0 {
        display: none;
    }

    #OYcrjmXoymmcfYWZ {
        display: none;
    }

    #PZehVMTfoViOAUP5 {
        grid-area: 2 / 2 / 11 / 11;
    }

    #GRiHeVyrmsgczdDg {
        stroke-width: calc(100rem * 8.0 / 1366.0);
    }

    #tqSW5QWKpjGLcF6q {
        display: block;
    }

    #A3JSM08jSbs188nT {
        stroke-width: calc(100rem * 8.0 / 1366.0);
    }

    #YP4cv1uKHS4pNH4m {
        display: none;
    }

    #j1YlxpWMyz3st5wt {
        stroke-width: calc(100rem * 8.0 / 1366.0);
    }

    #I6Yzwo1VlKUndaZ1 {
        display: none;
    }

    #xaT6kYYjcP77e0IV {
        grid-area: 3 / 3 / 9 / 6;
    }

    #xNTZHBdHO6veCroM {
        grid-area: 5 / 4 / 7 / 5;
    }

    #OLpJpneazSO7ZQr8 {
        stroke-width: calc(100rem * 8.0 / 1366.0);
    }

    #nll3w9OApQWILmhb {
        display: block;
    }

    #hAHrj9Msokf4PNLK {
        stroke-width: calc(100rem * 8.0 / 1366.0);
    }

    #dx5BrLgVBnp9NzR5 {
        display: none;
    }

    #pYwktEwRiLYN0hAR {
        stroke-width: calc(100rem * 8.0 / 1366.0);
    }

    #lsLQbFYYUhqWvAuY {
        display: none;
    }

    #gGWIHtnCv1PgEEI1 {
        grid-area: 4 / 7 / 10 / 10;
    }

    #s3opA9SrgN6U67nS {
        grid-area: 6 / 8 / 8 / 9;
    }

    #rceKc65cg8xi8yHp {
        grid-template-columns: 0 5.21120736rem 0.78085369rem 41.26448602rem 0.81309967rem 3.64248489rem 0.77846311rem 41.13815481rem 0.81061036rem 5.56064009rem;
        grid-template-rows: 0 minmax(0.62057841rem, max-content) minmax(0.12955906rem, max-content) minmax(0.5149934rem, max-content) minmax(0.12758576rem, max-content) minmax(23.08368763rem, max-content) minmax(0.05652446rem, max-content) minmax(0.61935659rem, max-content) minmax(0.05445525rem, max-content) minmax(2.75074605rem, max-content) minmax(27.9574866rem, max-content);
    }

    #h4uRlIlK5lkMiJe8 {
        min-height: 100vh;
    }
}


@media (min-width: 1536px){
    #rceKc65cg8xi8yHp{
        margin-bottom: -26%;
        
    }
}
@media (min-width: 1600px){
    #rceKc65cg8xi8yHp{
        margin-bottom: -25%;
        
    }
}
@media (min-width: 1700.05px){
    #rceKc65cg8xi8yHp{
        margin-bottom: -23%;
        
    }
}
